.login {height: 130px;background: #f16925;position: relative;overflow: hidden;}
.login img {width: 70px; height: 70px; border-radius: 10px;position: absolute;left: 0;top: 0;bottom: 0;right: 0;margin: auto;}
.login p {position: absolute;text-align:center;bottom:0;color: white;font-size: 20px;width: 100%;}

.userInfo {height: 70px;display: flex;background: #f16925;}
.userInfo div {flex: 1;text-align: center;padding-top: 14px;color: white;}

.money {height: 60px;background: #f16925;display: flex; align-items: center;justify-content: space-around;}
.money div {width: 100px;border: 1px solid #d6d6d6; border-radius: 10px;height: 36px;text-align: center;line-height: 40px;color: white;}

.today {height: 30px;background: #f25b0f;display: flex;align-items: center;}
.today p {flex: 1;text-align: center;color: white;font-size: 14px;}

.userNav li {width: 33.3%;border-right: 1px solid #eee; border-bottom: 1px solid #e3e3e3; box-sizing: border-box;float: left;text-align: center;}
.userNav li img {margin: 0 auto;}
.userNav li p {line-height: 50px;font-size: 14px;color: #999;}